.layout__main {
  margin-top: 15px;
  flex-grow: 1;
  flex-basis: 760px;
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  row-gap: 15px;
  align-items: center;
}

.main__block {
  padding: 15px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 680px;
  width: 100%;
}
