.sidebar-menu__item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar-menu__item:hover {
  background: rgb(228, 230, 233);
}

.sidebar-menu__img {
  width: 36px;
  margin-right: 8px;
}

.sidebar-left__sidebar-menu {
  padding: 8px;
  position: sticky;
  top: 56px;
}

.layout__sidebar-left {
  flex-basis: 360px;
}

@media (max-width: 1100px) {
  .layout__sidebar-left {
    display: none;
  }
}
