.make-story {
  display: flex;
  align-items: center;
}

.make-story--plus {
  font-size: 20px;
  padding: 12px;
  color: rgb(56, 88, 152);
  background: rgb(231, 243, 255);
  border-radius: 50%;
  margin-right: 15px;
}

.make-story__title {
  font-size: 16px;
  font-weight: bold;
}

.make-story__text {
  color: rgb(80, 80, 80);
}
