.header__nav-left {
  display: flex;
  align-items: center;
  height: 56px;
  margin-left: 1em;
  position: fixed;
  z-index: 2;
}

.nav-left__logo {
  margin-right: 0.5em;
}

.nav-left__logo-icon {
  font-size: 2.7em;
  color: rgb(15, 143, 242);
}

.nav-left__search {
  background: rgb(240, 242, 245);
  display: flex;
  align-items: center;
  padding: 0.7em;
  border-radius: 30px;
}

.nav-left__search-icon {
  font-size: 1.3em;
  color: rgb(96, 103, 112);
  margin-right: 0.5em;
}

.nav-left__search-input {
  border: none;
  background: none;
  outline: none;
  font-size: 1.05em;
}
